
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Register Page - Xing{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for("static", filename="config/signin.css") }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
{{ super() }}
<div class="container form-signin">
    <div class="page-header">
        <h1>Register</h1>
    </div>
    <div class="">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<!--div class="container">
    <form class="form-signin" method="POST">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">Please Register</h2>
        {{ form.email(type="email", id="inputEmail", class="form-control", placeholder="Email") }}
        {{ form.nickname(type="text", id="inputEmail", class="form-control", placeholder="Nick Name") }}
        {{ form.passwd(type="password", id="inputPassword", class="form-control", placeholder="New Pass Word") }}
        {{ form.confirm(type="password", id="inputPassword", class="form-control", placeholder="Repeat Pass Word") }}
        {{ form.submit(class="btn btn-lg btn-primary btn-block", type="submit") }}
    </form>
</div-->

{% endblock %}
