{% extends "base.html"%}

{% block title %}Show Conference - Xing{% endblock %}

{% block page_content %}
{{ super() }}
<div class="container">
	<div class="table-responsive" ng-show="conferences.length > 0">
		<table id="conference-table" class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>City</th>
					<th>Start Date</th>
					<th>Organizer</th>
					<th>Registered/Open</th>
				</tr>
			</thread>
			<tbody>	
				{% for conference in conferences %}
				<tr>
					<td><a href="{{ url_for('main.conference', id=conference.id) }}">{{conference.title}}</a></td>
					<td>{{ conference.city.name }}</td>
					<td>{{ conference.start_time }}</td>
					<td>{{ conference.organizer.nickname }}</td>
					<td>{{ conference.max_attendees }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
