{% extends "base.html" %}

{% block content %}
<div class="blog-header">
    <table cellpadding="10" >
        <caption>个人资料</caption>
        <tr>
            <td>用户名: {{ current_user.nickname }}</td>
            <td>Email: {{ current_user.email }}</td>
        </tr>
        <tr>
            <td>
                {% if current_user.about %}
                <p>关于: {{ current_user.about }}.</p>
                {% else %}
                <p>这家伙很懒，什么都没写.</p>
                {% endif %}
            </td>
            <td>
            </td>
            <td>
                {% if current_user.last_seen %}
                <p><i>最后一次登录: {{current_user.last_seen.strftime("%a, %d %b %Y %H:%M:%S")}}</i></p>
                {% else %}
                <p><i>欢迎来到博客系统，您是第一登录.</i><p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <p><a href="{{ url_for('edit', user_id=current_user.id) }}">修改个人资料</a> </p>
            </td>
            <td>
                {% if current_user.is_authenticated() %}
                <a href="{{ url_for('publishs', user_id=current_user.id) }}">发表文章</a>
                {% endif %}
            </td>
        </tr>
    </table>
</div> <!-- blog-head -->

<div class="row">
    <div class="col-sm-8 blog-main">
        {% if pagination %}
        {% include "posts.html" %}
        <nav>
            <ul class="pager">
                {% if pagination.has_prev %}
                <li class="previous">
                    <a href="{{ url_for('user', user_id=current_user.id, page=pagination.prev_num) }}"><span aria-hidden="true">&larr;</span>前一页</a>
                </li>
                {% endif %}
                {% if pagination.has_next %}
                <li class="next">
                    <a href="{{ url_for('user', user_id=current_user.id, page=pagination.next_num) }}">后一页<span aria-hidden="true">&rarr;</span></a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
        <p> 还没有内容 </p>
        {% endif %}
    </div>

    {% include "side_bar.html" %}
</div> <!-- /.row -->

{% endblock %}
